.pricing-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.pricing-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.package-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.package-header {
    background: #000;
    color: #FCD526;
    padding: 32px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
}

.package-body {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-tag {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.price-tag .aed {
    font-size: 16px;
    font-weight: normal;
    vertical-align: super;
}

.price-tag .price-pkg {
    font-size: 48px;
    font-weight: bold;
    margin-left: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
}

ul li {
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

ul li::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 10px;
}

.inquire-button {
    display: block;
    margin-top: 20px;
    height: 68px;
    width: 90%;
    background: #000;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    line-height: 45px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.inquire-button:hover {
    background: #ffcc00;
    color: #000;
}